[Unit]
Description=Battery Notifier Service

[Service]
ExecStart=%h/ghq/github.com/cacarico/dotfiles-pvt/services/battery-notification/battery.lua
Restart=always

[Install]
WantedBy=default.target
